:root {
    --color-primary-light: #FDDCC4;
    --color-primary: #F1CDB3;
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
}
#startScreen {
    width: 100%;
    height: 908px;
    background-image: url("../../assets/images/start-screen-gradient-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    max-width: 1280px;
    margin: auto;
}
header {
    padding: 60px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}
#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#logo h1 {
    padding: 0px;
    margin: 0px;
    color: var(--color-primary);
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
#logo p {
    margin-top: 10px;
    color: var(--color-light-xl);
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}
#startScreen h2 {
    color: var(--color-light-xl)
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    gap: 35px;
    height: 100%;

}
nav li {
    width: 100%;
    line-height: 24px;
    white-space: nowrap;
    margin:auto;
    box-sizing: border-box;

}
a, button {
    cursor: pointer;
    text-decoration: none;
}
nav a {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: var(--color-dark-s);
    text-decoration: none;
}
nav a:hover {
    color: var(--color-light-s);
}
nav li:active {
    border-bottom: 3px solid var(--color-primary);
    border-top: 3px solid transparent;
}
nav li a:active {
    color: var(--color-light-s);
    
}
#startScreenContent {
    margin: 0px 40px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 42px;
}
#notOnly {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 322px;
    width: 460px;
    margin-top: 163px;
    gap: 42px;
}
#notOnly h2 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
    margin: 0px;
    padding: 0px;
}
#notOnly p {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    margin: 0px;
    padding: 0px;
}
#startScreenPuppy {
    max-width: 698px;
    height: auto;
}
.buttonPrimary {
    width: fit-content;
    padding: 15px 45px;
    background: var(--color-primary);
    border-radius: 100px;
    border: none;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.buttonPrimary:hover {
    background-color: var(--color-primary-light);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: var(--color-dark-3xl);
}
#about {
    height: 588px;
    box-sizing: border-box;
    display: flex;
    padding: 80px 40px 100px;
    justify-content: center;
    gap: 120px;
    background-color: var(--color-light-xl);
}
#aboutPets {
    width: 300px;
    height: 408px;
}
#about article {
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h2{
    color: var(--color-dark-l);
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0px;
}
#about article p {
    color: (--color-dark-xl);
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin: 0px;
}
#pets {
    height: 877px;
    background-color: var(--color-light-l);
    padding: 80px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
#pets h2 {
    text-align: center;
}
#slider {
    display: flex;
    flex-direction: row;
    gap: 53px;
    align-items: center;
    justify-content: center;
}
#cards {
    width: 990px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.arrow {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
}
.arrow:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}
.card {
    margin: 0px;
    width: 270px;
    height: 435px;
    background-color: var(--color-light-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 9px;
}
.card:hover {
    background-color: var(--color-light-xl);
    cursor: pointer;
}
.card:hover button {
    border: solid 2px var(--color-primary-light);
    background-color: var(--color-primary-light);
}
.card img {
    border-radius: 9px 9px 0px 0px;
    width: 270px;
    height: 270px;
}
.card p {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    height: 23px;
    margin: 0px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.card button {
    width: 187px;
    height: 52px;
    color: var(--color-dark-3xl);
    border: solid 2px var(--color-primary-light);
    background-color: transparent;
    border-radius: 100px;
}
#getToKnow111 {
    color: color-dark-3xl;
    width: 261px;
    height: 52px;
    padding: 15px 45px;
    background: var(--color-primary);
    border-radius: 100px;
    border: none;
    white-space: nowrap;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
#help {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    height: 431px;
    margin: 80px 40px 100px 40px;
    background-color: var(--color-light-xl);
}
#help h2 {
text-align: center;
}
#help img {
    width: 60px;
    height: 60px;
}
#help ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    list-style-type: none;
    column-gap: 120px;
    row-gap: 55px;
    margin: auto;
    height: 281px;
    width: 1029px;
    padding: 0px;
}
#help li {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0px;
}
#help li p {
    margin: 0px;
    padding: 0px;
    height: 23px;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
#donation {
    background-color: var(--color-light-l);
    height: 462px;
}
#donationContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 282px;
    padding-top: 80px;
}
#donation img {
    width: 505px;
    height: 261px;
}
#donation #content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
}
#donation p {
    color: var(--color-dark-l);
    margin: 0px;
}
#creditCard {
    height: 43px;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 0px;
    background: var(--color-primary);
    border-radius: 9px;
    display: flex;
    width: 349px;
    align-items: center;
    justify-content: center;
}
#creditCard svg {
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
#donation small{
    height: 72px;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--color-dark-m);
}
footer {
    padding: 40px 40px 0px 40px;
    display: flex;
    justify-content: center;
    gap: 160px;
    background-image: url("../../assets/images/footer-gradient-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#contacts {
    margin-top: 16px;
    width: 280px;
    height: 234px;
}
#locations {
    margin-top: 16px;
    width: 320px;
    height: 234px;
}
.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
footer img {
    width: 300px;
    height: 310px;
}
footer h2 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
    margin-bottom: 20px;
}
footer p, footer a {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-decoration: none;
}

.iconEmail {
    padding-left: 20px;
    background: url('../../assets/icons/icon-email.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 40px;
    display: inline-block;
}
.iconPhone {
    padding-left: 20px;
    background: url('../../assets/icons/icon-phone.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 40px;
    display: inline-block;
}
.iconLocation {
    padding-left: 20px;
    background: url('../../assets/icons/icon-marker.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 22px;
    display: inline-block;
}


