header {
    padding: 30px 40px;
}
#logo h1, nav a {
    color: var(--color-dark-l);
}
#logo p {
    color: var(--color-dark-3xl);
}
nav {
    margin-right: 87px;
}
nav a:hover {
    color: var(--color-dark-m);
}
nav a:active {
    color: var(--color-dark-m);
}
nav li a:active {
    color: var(--color-dark-m);
}
nav li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.current-page a {
    color: var(--color-dark-3xl);
}
main {
    /* height: 1342px; */
    padding: 80px 40px 100px 40px;
    box-sizing: border-box;
    background-color: var(--color-light-l);
}
main h3 {
    text-align: center;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    margin: 60px auto;
    width: 1200px;
    justify-content: center;    
}
#cards-navigation {
    margin: 0px auto;
    width: fit-content;
    display:flex;
    gap: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 115%;
    letter-spacing: 0.06em;
}
button:disabled {
    color: var(--color-dark-s);
    border-color: var(--color-dark-s);
}
button:disabled:hover {
    color: var(--color-dark-s);
    border-color: var(--color-dark-s);
    background-color: transparent;
}
#current_nav {
    background-color: var(--color-primary);
}

@media all and (max-width: 1280px) {
    main {
        padding-bottom: 74px;
    }
    header {
        padding: 30px;
    }
    nav ul {
        gap: 43px;
    }
    #cards {
        width: 580px;
        margin: 30px auto 40px;
    }
    .pets-card-7, 
    .pets-card-8 {
        display: none;
    }
}

@media all and (max-width: 768px) {
    header {
        padding: 30px 50px 30px 10px;
    }
    nav {
        margin: 0px;
    }
    main {
        padding: 42px 10px;
    }
    #cards {
        width: 270px;
        margin: 42px auto;
    }
    .pets-card-4, 
    .pets-card-5, 
    .pets-card-6, 
    .pets-card-7, 
    .pets-card-8 {
        display: none;
    }
    #cards-navigation {
        gap: 10px;
    }
}
